.form {
    padding: 15px;
}

.form__radio-group {
    display: flex;
    flex-direction: column;
    & label {
        display: inline-flex;
        color: #495057;
        font-size: $font-m;
        margin: $size-xs 0;
    }
    & input {
        margin: 0 $size-s 0 0;
    }
}