.layout {
    display: grid;
    grid-template-rows: min-content min-content auto;
    grid-template-areas: 
        "header1"
        "header2"
        "body";
    grid-column-gap: 20px;
    grid-row-gap: 15px;
    height: 90vh;
    padding: $size-l 0;
    @media (min-width: 1200px) {
        grid-template-columns: 1fr 4fr;
        grid-template-rows: min-content auto;
        grid-template-areas: 
        "corner header2"
        "sidebar body";
    }
}

.layout__corner {
    visibility: hidden;
    @media (min-width: 1200px) {
        visibility: visible;
        grid-area: corner;
        font-size: $font-l;
        font-weight: 600;
        color: $dark-blue-2;
        place-self: center;
        text-align: center;
    }
}

.layout__sidebar {
    grid-area: sidebar;
    align-items: flex-start;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgba(31, 31, 31, 0.14);
    & label {
        color: $primary-color;
        font-size: $font-s;
        // font-weight: bold;
    }
    & input, select {
        margin: $size-s 0 $size-l 0;
    }
}

.layout__header {
    grid-area: header2;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    height: min-content;
    color: $grey-3;
    font-size: $font-s;
    font-weight: 400;
    text-align: center;
    border-right: 1px solid $grey-2;
    > * {
        width: 25%;
        border-left: 1px solid $grey-2;
        border-right: none;
        border-top: none;
        border-bottom: none;
        padding: $size-s 0;
    }
}

.layout__header--5col {
    @extend .layout__header;
    > * {
        @include media-breakpoint-up(lg) {
            width: 20%;
        }
    }
}

.layout__header__lender {
    @include media-breakpoint-down(md) {
        display: none;
    }
}

.layout__body {
    grid-area: body;
    overflow: scroll;
    padding-right: 10px;
    margin-right: -25px;
}

.layout__header--tabs {
    @extend .layout__header;
    justify-content: space-between;
    border: none;
    > * {
        text-align: center;
        padding: $size-s $size-l;
        margin: $size-m 0;
        width: 24%;
    }
}
