.loan {
    padding-right: 10px;

    & h3 {
        margin: 0;
    }

    & h4 {
        margin: 0 0 .5rem 0;
    }
    
    & h5 {
        margin:  .5rem 0 0 0;
    }

    & img {
        max-width: 170px;
        max-height: 70px;
        margin-bottom: 10px;
    }
}

.loan__details {
    text-align: center;
    color: $dark-grey-2;
    font-size: $font-s;
}